.summary-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.summary-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.summary-content{
  background-color: #e6e5e1;
  padding:0 20px;
}
.training-summary{
  background-color: #d7d5d0;
  padding:0 20px;
}
.profile-summary h2{
color: #000;
}
.progress-container {
  width: 100%;
  background-color: #d3cece;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.linear-progress-bar {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: width 0.3s ease;
}

.summary-items {
  list-style-type: none;
  padding: 0;
}

.summary-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.summary-item.completed {
  text-decoration: line-through;
  color: #888;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
