
.security-checkpoint {
    font-family: Arial, sans-serif;
    text-align: justify;
    padding: 20px;
   
    padding-top: 370px;
    background-color: antiquewhite;
  }

  .security-checkpoint h2{
    color: #000;
  }
  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  .esp{padding-top: 570px;}
  .phil {
    padding-top: 280px;
  }
  .nep{
    padding-top: 10px;
  }
  .arab{
    padding-top: 10px;
  }
  .amh{
    padding-top: 400px;
  }