/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: grey;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative; /* Ensure absolute positioning works for pseudo-elements */
}

/* Border Effect */
.to-middle::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 1px;
    bottom: 5px;
    left: 1px;
    border: 2px solid rgba(5, 192, 244, 0.502); /* Style the border */
    pointer-events: none; /* Ensure the pseudo-element does not interfere with user interactions */
}

/* Training Home Layout */
.training-home {
    text-align: center;
}

/* Button Group Styles */
.button-group {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
}

.button-group a {
    text-decoration: none;
}

.button-group button {
    background: #f39c12;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.button-group button:hover {
    background: #074baf;
}

/* Button Item Styles */
.button-item p {
    margin: 0; /* Remove default margin from <p> to reduce space */
}

.button-item {
    margin: 10px 0;
}

/* Language Select Styles */
.language-select {
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    color: #343a40;
    cursor: pointer;
}

/* Media Query for Desktop */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the button group takes full width */
}
.button-item {
  width: 100%;
  max-width: 600px; /* Maximum width for the button items */
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button styling */
.button-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.hidden {
  display: none; /* Hide main content */
}

.pin-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(33, 33, 33);
  border: 1px solid #646262;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.pin-dialog h2 {
  margin: 0 0 10px;
}

.pin-dialog input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.pin-dialog button {
  padding: 10px;
  border: none;
 
  background-color: #d09e32;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.pin-dialog button:hover {
  background-color: #007bff;
}

.pin-dialog button:last-child {
  background-color: #6c757d;
}

.pin-dialog button:last-child:hover {
  background-color: #5a6268;
}